# History searching
"\e[A": history-search-backward
"\e[B": history-search-forward

$if Bash
  set completion-ignore-case on
  set completion-query-items 50
  set skip-completed-text on
  set show-all-if-ambiguous on
  set mark-directories on
  set mark-symlinked-directories on
  set match-hidden-files on
  # set editing-mode vi

  # Bash 4.4 features:
  set colored-completion-prefix on
  set colored-stats on
$endif
