# Use std:: namespace
snippet s
	std::$1
# Integer
snippet i
	int $1
# Char
snippet c
	char $1
# Float
snippet f
	float $1
# Long
snippet l
	long $1
#  Double
snippet d
	double $1
# Return
snippet r
	return $1
# Boolean
snippet b
	boolean $1
# Log to console (stdout)
snippet cl
	std::cout << $1 << std::endl;
# Log a var to console (stdout)
snippet clv
	std::cout << "$1 is: " << $1 << "\n";
